header {
  background-color: #2960AE;
  height: 72px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
}
header .links {
  font-size: 16px;
}
header .logo-white {
  height: 60px;
  width: auto;
}
header .links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header .links a {
  margin-right: 20px;
}
button {
  border: none;
  background-color: blue;
  background-color: #008afcff;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}
header a {
  color: #fff;
  text-decoration: none;
}