.contract-results {
  width: 1140px;
  height: auto;
  margin: 80px auto;
}

.contract-card {
  box-shadow: 0px 8.28px 20px rgba(0, 0, 0, 0.12);
  background: #fff;
  display: flex;
  width: 100%;
  margin: 20px 0;
  padding-top: 60px;
  position: relative;
}
.control-bar {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.control-bar a {
  font-size: 16px;
  line-height: 136.7%;
  color: #37A8EB;
  text-indent: 30px;
}
.control-bar .new-window {
  background: url(../../../img/new-window.svg) 5px no-repeat;
}
.control-bar .close-overlay {
  background: url(../../../img/close-x.svg) 5px no-repeat;
}

.contract-detail {
  position: absolute;
  top: 100%;
  left: 0;
  height: 0;
  transition-property: top;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  width: 100vw;
  height: auto;
}
.contract-detail.get-big {
  top: 0%;
  min-height: 500px;
  max-width: 100vw;
}
.contract-detail-page .contract-detail.get-big {
  position: relative;
}
.contract-detail-page .contract-card .control-bar {
  display: none;
}
.contract-detail-page .contract-card {
  padding-top: 0;
}

.contract-details {
  width: 780px;
}

.contract-details h4 {
  font-size: 18px;
  line-height: 128.4%;
  color: #4F6481;
  margin-bottom: 12px;
}

.contract-details h5 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 136.7%;
  color: #4F6481;
}

.contract-details .title-section {
  background: #EBF3FF;
  padding: 30px 30px 20px 30px;
}

.contract-details .title-section .dates {
  margin: 20px 0 0 0;
  display: flex;
  align-items: flex-start;
}

.title-section .dates .date-details {
  margin: 0 30px 0 0;
  display: flex;
  flex-flow: column;
}

.date-details .field-name {
  font-size: 12px;
  line-height: 1.5em;
  color: #879EC0;
}

.date-details .field-value {
  font-size: 14px;
  line-height: 136.7%;
  color: #4F6481;
}

.contract-details .check-section {
  height: 48px;
  background: #F8F8F8;
  border: 1px solid #E5EAF2;
  display: flex;
  align-items: center;
  padding: 0 30px;
}

.check-section li {
  text-indent: 25px;
  background: url(../../../img/check-circle-1-alternate.svg) no-repeat;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #4F6481;
  margin-left: 1em;
}

.check-section li:first-child {
  margin-left: 0em;
}

.contract-details .more-info-section {
  margin: 0 30px;
}

.contract-details .more-info-section section {
  display: block;
  border-bottom: 1px solid #D2DBE9;
  padding: 30px 0;
}

.supplier, .author-field {
  display: flex;
  flex-flow: column;
  margin-right: 2em;
}

.contract-details .more-info-section section.supplier-details {
  border-bottom: none;
}

.author-content {
  display: flex;
}

.author-details .field-name, .supplier-details .field-name {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #879EC0;
}

.author-details .field-value, .supplier-details .field-value {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.44px;
  color: #4F6481;
}

.contract-details section.files {
  padding: 20px 30px;
  margin: 30px;
  width: 91%;
  border: none;
  background: #efefef;
  box-shadow: 0px 8.28px 20px rgba(0, 0, 0, 0.08);
}

.files h4 {
  font-size: 16px;
  line-height: 128.4%;
  color: #146798;
}

.files .section-header {
  display: flex;
  justify-content: space-between;
}

.file-list li {
  background: #fff;
  height: 35px;
  line-height: 35px;
  display: flex;
  padding: 0 20px;
  margin-bottom: 1px;
}

.file-list .file-link {
  width: 47%;
  margin-right: 3%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.file-list .file-type {
  font-size: 14px;
  color: #96A9C5;
}

.button-icon {
  width: 44px;
  height: 40px;
  margin: -3px 0 0 -1px;
  border: solid 1px;
  display: flex;
}

.button-icon img {
  width: 100%;
  padding: 7px;
  align-items: center;
}

.contract-actions {
  width: 360px;
  background: #F8F8F8;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
  padding-top: 35px;
}

.contract-actions button {
  width: 230px;
  height: 40px;
  margin-bottom: 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 0;
}

.contract-actions button .button-text {
  line-height: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.75px;
}

button {
  cursor: pointer;
}

button.contact-supplier {
  color: #FAFAFA;
  border: #ffffff 1px solid;
}

button.share-contract {
  background-color: white;
  color: #37A8EB;
  border: 1px solid #37A8EB;
}

button .button-text {
  display: block;
  text-align: center;
  width: 100%;
}

.contract-card a {
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.75px;
}

.questions-link {
  line-height: 40px;
  height: 40px;
  text-indent: 30px;
  background: url(../../../img/questions.svg) no-repeat 7px 12px;
}

.page-description {
  line-height: 36px;
  color: #000;
}

h1.some-big {
  font-size: 28px;
  line-height: 128.4%;
  color: #37A8EB;
  font-weight: 600;
  font-family: "lato";
}

coprocure-search .modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  background-color: #000;
  opacity: 0.5;
}

coprocure-search .modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 6;
  overflow: hidden;
  outline: 0;
}

coprocure-search .modal-dialog.show {
  transform: translate(0, 0);
}

coprocure-search .modal-dialog {
  width: 80%;
  max-width: 500px;
  background-color: #fff;
  padding: 20px;
  margin: 5rem auto;
  transform: translate(0, -250%);
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

coprocure-search .modal-dialog.mega {
  max-width: 800px;
  padding: 0px;
}

coprocure-search .modal .modal-title {
  font-size: 20px;
  line-height: 128.4%;
}

coprocure-search .modal .field-description {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.44px;
  color: #2A324D;
}

coprocure-search .modal label {
  font-size: 14px;
  line-height: 136.7%;
  color: #4F6481;
  display: block;
  margin: 20px 0 0 0;
}

coprocure-search .modal textarea {
  width: 100%;
  height: 115px;
  margin: 0 0 20px 0;
}

coprocure-search .modal button {
  min-width: 100px;
  min-height: 35px;
}

coprocure-search .modal label .label-text {
  display: block;
  margin-bottom: 6px;
}

coprocure-search .modal input[type="text"] {
  width: 100%;
  border: 1px solid;
}

.multi-labels {
  display: flex;
  margin: 0 0 6px 0;
  justify-content: space-between;
}

.multi-labels .field-description {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #000000;
}

.multi-labels .success-label {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.75px;
  color: #3CAC7F;
}

.modal .multisection-modal {
  display: flex;
}

.coprocure-logo--white {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 126px;
}

.coprocure-logo--text {
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
}

.modal input[type="checkbox"] {
  width: 16px;
  height: 16px;
  background: transparent;
  box-shadow: none;
}

.modal .modal-explanation-section {
  width: 310px;
  height: 400px;
  background-color: #37A8EB;
  color: #fff;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  padding: 30px 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.75px;
}

.modal .modal-business-section {
  width: 490px;
  height: 400px;
  padding: 20px;
}

@media (max-width: 768px) {
  .contract-results, .contract-details {
    width: 100%;
  }

  .contract-actions {
    width: 100%;
    padding: 10px;
    margin-top: 0;
    position: fixed;
    bottom: 0;
    display: block;
    text-align: center;
  }

  .contract-actions button {
    width: 47%;
    margin-left: 2%;
    margin-right: 0;
    float: left;
  }

  .question-link {
    width: 100%;
    text-align: center;
    font-weight: 600;
  }

  .contract-results {
    margin-bottom: 0;
  }

  .contract-results h2 {
    display: none;
  }

  .modal .modal-explanation-section{
    display:none;
  }

  .modal .modal-business-section{
    height: auto;
  }

  coprocure-search .modal .modal-title{
    font-size: 18px;
  }

  .contract-details .check-section {
    height: auto;
    padding: 10px 20px;
    flex-flow: column;
    align-items: flex-start;
  }

  .check-section li {
    margin: 10px;
  }

  .author-content {
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .supplier, .author-field {
    margin: 0 40px 20px 0em;
  }

  .files .section-header {
    flex-flow: column;
    padding: 0 0 20px 0;
  }

  .contract-details .more-info-section section.files {
    padding: 20px 20px;
  }

  .contract-card {
    flex-flow: column;
    margin-top: 116px;
  }

  .contract-card, .contract-details section.files {
    box-shadow: none;
  }

  .contract-details section.files {
    margin: 0;
    width: 100%;
  }

  .check-section li:first-child{
    margin-left: 10px;
  }

  .contract-details .more-info-section{
    margin: 0;
    padding: 0 30px;
  }
}
